<main id="d_client" class="mainsection mdl-layout__content mdl-color--grey-100">
  <div class="mdl-grid demo-content">
    <div class="demo-options mdl-card mdl-color--indigo-700 mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--6-col-tablet mdl-cell--8-col-desktop">
      <div class="mdl-card__supporting-text mdl-color-text--blue-grey-50">
        <h3>Client Status</h3>
        <ul class="demo-list-icon mdl-list">
          {{#each clientCheckboxes}}
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content mdl-color-text--blue-grey-50">
              <i id="chkclient{{this.id}}" class="material-icons mdl-list__item-icon chkclientstatus">check_box_outline_blank</i>{{this.text}}
            </span>
          </li>
          {{/each}}
        </ul>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect  mdl-color-text--blue-grey-50" onclick="JAR_Client.Connect()">
          Start Connection
        </button>
        <button id="btnClippy" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect  mdl-color-text--blue-grey-50">
          <i class="material-icons">content_copy</i>Alternate Start
        </button>
        <div class="mdl-tooltip" data-mdl-for="btnClippy">
          Uses clipboard. Ensure JAR-Client is running.
        </div>
        <div class="mdl-layout-spacer"></div>

        <button id="btnDownload" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color-text--blue-grey-50">
          Download JAR - Client
          <i class="material-icons">file_download</i>
        </button>
        <ul class="mdl-menu mdl-menu--top-right mdl-js-menu mdl-js-ripple-effect" data-mdl-for="btnDownload">
          {{!-- <li class="mdl-menu__item">123</li>
          <li class="mdl-menu__item">123</li>
          <li class="mdl-menu__item">123</li>
          <li class="mdl-menu__item">123</li> --}}
          <li class="mdl-menu__item mdl-menu__item--full-bleed-divider" disabled>Windows</li>
          <a href="https://github.com/XEonAX/jar-client/releases/download/v1.0.6500.1096/jar-client_net46_portable.exe" target="_blank" class="mdl-menu__item">.NET 4.6 Based (3MB)</a>
          <a href="https://github.com/XEonAX/jar-client-x/releases/download/v1.0.0/jar-client_electron_portable.exe" target="_blank" class="mdl-menu__item">Electron Based (34MB)</a>
          <li class="mdl-menu__item mdl-menu__item--full-bleed-divider" disabled>Linux</li>
          <a href="https://github.com/XEonAX/jar-client-x/releases/download/v1.0.0/jar-client-electron-x86_64.AppImage" target="_blank" class="mdl-menu__item">Electron Based AppImage (52MB)</a>
          <a href="https://github.com/XEonAX/jar-client-x/releases/download/v1.0.0/jar-client_electron_amd64.deb" target="_blank" class="mdl-menu__item">Electron based x64 .deb (35MB)</a>
        </ul>
        {{!--
        <a href="https://github.com/XEonAX/jar-client/releases/download/v1.0.0/jar-client_net46_portable.exe" target="_blank"
          class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color-text--blue-grey-50">Download JAR - Client</a> --}}
      </div>
    </div>
    <div id="identiCard" class="demo-options mdl-card mdl-color--teal-500 mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--6-col-tablet mdl-cell--4-col-desktop">
      <div class="mdl-card__supporting-text mdl-color-text--blue-grey-50">
        <h3>Identicon</h3>
        <div id='identidiv'></div>
      </div>
    </div>
  </div>
  <iframe id="ClientLauncher" src="" frameborder="0" style="visibility: hidden;width: 0px;height: 0px"></iframe>
</main>