<main id="d_client" class="mainsection mdl-layout__content mdl-color--grey-100">
  <div class="mdl-grid demo-content">
    <div class="demo-options mdl-card mdl-color--indigo-700 mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--3-col-tablet mdl-cell--12-col-desktop">
      <div class="mdl-card__supporting-text mdl-color-text--blue-grey-50">
        <h3>Client Status</h3>
        <ul class="demo-list-icon mdl-list">
          {{#each clientCheckboxes}}
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content mdl-color-text--blue-grey-50">
              <i id="chkclient{{this.id}}" class="material-icons mdl-list__item-icon chkclientstatus">check_box_outline_blank</i>{{this.text}}
            </span>
          </li>
          {{/each}}
        </ul>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect  mdl-color-text--blue-grey-50" onclick="JAR_Client.Connect()">
          Start Connection</button>
        <div class="mdl-layout-spacer"></div>
        <a href="/releases/setup.exe" target="_blank" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color-text--blue-grey-50">Download JAR - Client</a>
      </div>
    </div>
  </div>
</main>