<header class="demo-drawer-header">
    <i class="material-icons md-72 demo-avatar">person</i>
    <div class="demo-avatar-dropdown">
        <div class="mdl-layout-spacer"></div>
        <span>Welcome {{User.username}}!</span>
        <div class="mdl-layout-spacer"></div>
    </div>
</header>
<nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
    <a class="mdl-navigation__link" href="#" data-sectionname="d_client" onclick="Show(this);"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">get_app</i>Client Status</a>
    <div class="mdl-layout-spacer"></div>
    <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">help_outline</i><span class="visuallyhidden">Help</span></a>
</nav>