<main id="d_ticker" class="mainsection mdl-layout__content mdl-color--grey-100" style="display:none">
    <div class="mdl-grid demo-content">
        <div class="demo-options mdl-card mdl-color--grey-800 mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-cell--12-col-desktop">
            <div class="mdl-card__supporting-text mdl-color-text--blue-grey-50 fixedgraphheight">
                <h3>Performance Graphs</h3>
                <canvas id="cnvCPUTotal" />
            </div>
        </div>
    </div>
</main>