<header class="demo-header mdl-layout__header mdl-color--deep-orange-900 mdl-color-text--blue-grey-50">
    <div class="mdl-layout__header-row mdl-color--deep-orange-900 mdl-color-text--blue-grey-50">
        <span class="mdl-layout-title">{{title}}</span>
        <div class="mdl-layout-spacer"></div>

        <form action="/signout">
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="btnLogout" title="Log out">
            <i class="material-icons">exit_to_app</i>
        </button>
        </form>
    </div>
</header>